.home {
  box-sizing: border-box;

  display: grid;
  color: #fff;
  width: 100%;
  grid-template-rows: auto auto;
  grid-template-areas:
    'hero-grid'
    'skills-grid';
  max-height: 100vh;
  overflow: hidden;

  .hero-grid {
    grid-area: hero-grid;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 16px;
    background: #2d2d2d;
    position: relative;

    .hero-text {
      position: absolute;
      transform: translateY(-50%);
    }

    .hero-text1 {
      bottom: 10%;
    }
    .hero-text2 {
      bottom: 5%;
    }
    .hero-text3 {
      bottom: 0%;
    }
  }

  .skills-grid {
    box-sizing: border-box;

    grid-area: skills-grid;
    background: #062f4f;
    min-height: calc(100vh - 75px);
    display: grid;
    padding: 25px 16px;
    align-content: space-around;
  }

  .text--red {
    color: #ff0033;
  }

  .link--discrete {
    text-decoration: none;

    // todo: focus & active
  }

  .hidden {
    display: none;
    opacity: 0;
  }
}
