.nav--wrapper {
  justify-self: center;
  display: flex;
  justify-content: space-between;
  width: 300px;
  text-align: center;
  align-items: center;
  height: 75px;

  & > a {
    color: #fff;
    text-decoration: none;
  }
}
